/* CSS declarations go here */
.bluehead {
	width: 568px;
	background: rgb(155,155,255);
	text-align: center;
	color: rgb(255,255,255);
}
.redhead {
	width: 568px;
	background: rgb(255,155,155);
	text-align: center;
	color: rgb(255,255,255);
}
.greenhead {
	width: 568px;
	background: rgb(155,255,155);
	text-align: center;
	color: rgb(255,255,255);
}
.plain {
	background-color: rgb(240,240,240);
	text-align: left;
	color: rgb(30,30,30);
}
.my_container {
	width: 568px;
	padding-left: 10px;
	background-color:#eeeeee;
	text-align: left;
}
.search_button{
	width:200px;
	font-size: 50px;
	background-color: rgb(0,0,180);
	color: rgb(255,255,255);
	border: 10px;
	padding-top: 5px;
}
.profiles_button{
	width:200px;
	font-size: 50px;
	background-color: rgb(0,180,0);
	color: rgb(255,255,255);
	border: 10px;
	padding-top: 5px;
	
}